<html>
<head>

</head>
<body>
<div>
    <h1>Users</h1>
    {foreach $users AS $user}
    <div>
        <h2>{$user->getName()}</h2>
        <div>
            <div>{$user->getId()}</div>
            <div>{$user->getName()}</div>
            <div>{$user->getUsername()}</div>
            <div>{$user->getEmail()}</div>
            <div>{$user->getPhone()}</div>
            <div>{$user->getWebsite()}</div>
            <div>
                <h3>Address:</h3>
                <div>{$user->getAddress()->getStreet()}</div>
                <div>{$user->getAddress()->getSuite()}</div>
                <div>{$user->getAddress()->getCity()}</div>
                <div>{$user->getAddress()->getZipcode()}</div>
                <div>{$user->getAddress()->getGeo()->getLan()}</div>
                <div>{$user->getAddress()->getGeo()->getLng()}</div>
            </div>
            <div>
                <h3>Company:</h3>
                <div>{$user->getCompany()->getName()}</div>
                <div>{$user->getCompany()->getCatchPhrase()}</div>
                <div>{$user->getCompany()->getBs()}</div>
            </div>
            <div>
                <h3>Posts - {$user->getPostsCount()}x</h3>
                {foreach $user->getPosts() AS $post}
                <div>
                    <h4>{$post->getTitle()}</h4>
                    <div>
                        <div>{$post->getId()}</div>
                        <div>{$post->getBody()}</div>
                        <div>
                            <div><strong>Comments - {$post->getCommentsCount()}</strong></div>
                            {foreach $post->getComments() AS $comment}
                                <h5>{$comment->getName()}</h5>
                                <div>
                                    <div>{$comment->getId()}</div>
                                    <div>{$comment->getEmail()}</div>
                                    <div>{$comment->getBody()}</div>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
    {/foreach}
</div>
</body>
</html>